.Patients{
    background-color: #fffbf8;
}

button.MuiButton-root {
    color: white !important;
    background-color: #8ba082 !important;
    border: none !important;
  }
  
  button.MuiButton-root:hover {
    background-color: #5d6c56 !important;
  }